DATABASE_URL="postgresql://neondb_owner:npg_FKXz4N6koOnI@ep-silent-king-aen42jeq-pooler.c-2.us-east-2.aws.neon.tech/GigaWebAccessibility?sslmode=require&channel_binding=require"
SESSION_SECRET="iR+bRDRKV5my1SXEYYYXAUP+o/Lgs/slykq3IpLXIwY="
PORT=3000
HOST=0.0.0.0
APP_NAME=GigaAccessibility
NODE_ENV=staging
APP_DOMAIN=staging.gigabitagency.site
REDIS_DB=1
REUSE_PORT=false
